<html lang="en" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-app="MafiaApp" ng-controller="mafiaController" ng-cloak >


<!--
  Your HTML content here
-->

<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<!-- Your application bootstrap  -->
<script type="text/javascript">
    /**
     * You must include the dependency on 'ngMaterial'
     */
    angular.module('MafiaApp', ['ngMaterial']);
</script>

<md-content flex layout-padding>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <h1>Welcome to Mafia {{ username }}</h1>
    </section>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-input-container class="md-block" flex-gt-xs="50" >
            <label>Enter name</label>
            <input ng-model="username" >
        </md-input-container>
    </section>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <button class="md-raised md-primary" ng-click="action.callBackend()">Submit</button>
    </section>
</md-content>

<!--<span>-->
    <!--{{response}}-->
<!--</span>-->
<script>
    var mafiaApp = angular.module("MafiaApp", []);

    mafiaApp.controller('mafiaController', function($scope, $http) {
        $scope.action = {
            callBackend: function () {


                console.log($scope.username);
                $http.get('http://localhost:3000/login?name=' + $scope.username).then(function (response) {
                    $scope.response = response;
                })
            }
        }
    })

</script>

</body>



</html>

